a{
    text-decoration: none;
    color: inherit;
}
.scroller {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple transparent;
    scrollbar-width: thin;
 
}

.scroller::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.scroller::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}

.scroller::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(15, 15, 15, 0.5);
}